body {
  font-family: "Poppins", sans-serif;
}
.bg-container {
  background-color: #264653;
}
.custom-btn {
  background-color: #e76f51;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
}

.img-featured {
  width: 288px;
  height: 243px;
}
.img-faq {
  width: 431.2px;
  height: 423.5px;
}
.img-greyscale {
  width: 288px;
  height: 243px;
  filter: grayscale(1);
}

span {
  color: #e76f51;
}
.faq {
  text-decoration: none;
}
